<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mawsom.mawsom.mawsomnobl" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ServerSelectActivity"
            android:label="Select Server"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="com.mawsom.mawsom.mawsomnobl.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="SetTemperatureActivity"
            android:label="Set Temperature"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="SettingsActivity"
            android:label="Settings"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="SchedulesActivity"
            android:label="Schedules"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="ScheduleActivity"
            android:label="Edit Schedule"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="ScheduleTabsFragment"
            android:label="Edit Schedule"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="CopyScheduleActivity"
            android:label="Copy this day&apos;s schedule to..."
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="ScheduleEntryEditActivity"
            android:label="Edit Schedule Entry"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

    </application>

</manifest>
